/* YUI2 CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
    border:0;
}


/* fonts */
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pts55f_w-webfont.eot');
    src: url('../fonts/pts55f_w-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f_w-webfont.woff') format('woff'),
         url('../fonts/pts55f_w-webfont.ttf') format('truetype'),
         url('../fonts/pts55f_w-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pts75f_w-webfont.eot');
    src: url('../fonts/pts75f_w-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts75f_w-webfont.woff') format('woff'),
         url('../fonts/pts75f_w-webfont.ttf') format('truetype'),
         url('../fonts/pts75f_w-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* application styles */
html,
body {
    background-color: #f6f2de;
    color: #7d7d7d;
    font-family: 'pt_sansregular', 'Myriad Pro', arial, helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    overflow: hidden;
}


/* inputs */
.input {
    font-family: 'pt_sansregular', 'Myriad Pro', arial, helvetica, sans-serif;
}


/* icons */
.icon {
    background: url(../i/app-sprite.png) -999px -999px no-repeat;
    display: inline-block;
    vertical-align: top;
}
/* icon size */
.icon_24 {
    height: 24px;
    width: 24px;
}
.icon_48 {
    height: 48px;
    width: 48px;
}
/* result icons */
.icon_food {
    background-position: 0 -92px;
}
.icon_shopping {
    background-position: -49px -92px;
}
.icon_health {
    background-position: -98px -92px;
}
.icon_children {
    background-position: -146px -92px;
}
.icon_transport {
    background-position: -196px -92px;
}
.icon_sport {
    background-position: -245px -92px;
}
.icon_entertainment {
    background-position: -294px -92px;
}
.icon_factory {
    background-position: -343px -92px;
}
.icon_education {
    background-position: -392px -92px;
}
/* social icons */
.icon_twitter {
    background-position: -85px -34px;
    height: 24px;
    width: 24px;
}
.icon_vk {
    background-position: -110px -34px;
    height: 24px;
    width: 24px;
}
.icon_facebook {
    background-position: -135px -34px;
    height: 24px;
    width: 24px;
}
/* result */
.icon_library {
    background-position: -85px -59px;
    height: 28px;
    width: 28px;
}
.icon_bank {
    background-position: -114px -59px;
    height: 28px;
    width: 28px;
}
.icon_ATM {
    background-position: -143px -59px;
    height: 28px;
    width: 28px;
}
.icon_housing-department {
    background-position: -172px -59px;
    height: 28px;
    width: 28px;
}
.icon_barber {
    background-position: -201px -59px;
    height: 28px;
    width: 28px;
}
.icon_post-office {
    background-position: -230px -59px;
    height: 28px;
    width: 28px;
}
.icon_parking {
    background-position: -259px -59px;
    height: 28px;
    width: 28px;
}
.icon_pharmacy {
    background-position: -85px -88px;
    height: 28px;
    width: 28px;
}
.icon_health {
    background-position: -114px -88px;
    height: 28px;
    width: 28px;
}
.icon_taproom {
    background-position: -85px -117px;
    height: 28px;
    width: 28px;
}
.icon_diningroom {
    background-position: -114px -117px;
    height: 28px;
    width: 28px;
}
.icon_confectionery {
    background-position: -143px -117px;
    height: 28px;
    width: 28px;
}
.icon_restaurant {
    background-position: -172px -117px;
    height: 28px;
    width: 28px;
}
.icon_coffeehouse {
    background-position: -201px -117px;
    height: 28px;
    width: 28px;
}
.icon_fastfood {
    background-position: -230px -117px;
    height: 28px;
    width: 28px;
}
.icon_swimming-pool {
    background-position: -85px -146px;
    height: 28px;
    width: 28px;
}
.icon_sports-school {
    background-position: -114px -146px;
    height: 28px;
    width: 28px;
}
.icon_stadium {
    background-position: -143px -146px;
    height: 28px;
    width: 28px;
}
.icon_fitness-center {
    background-position: -172px -146px;
    height: 28px;
    width: 28px;
}
.icon_education {
    background-position: -85px -175px;
    height: 28px;
    width: 28px;
}
.icon_kindergarten {
    background-position: -114px -175px;
    height: 28px;
    width: 28px;
}
.icon_bowling {
    background-position: -85px -204px;
    height: 28px;
    width: 28px;
}
.icon_cinema {
    background-position: -114px -204px;
    height: 28px;
    width: 28px;
}
.icon_park {
    background-position: -143px -204px;
    height: 28px;
    width: 28px;
}
.icon_theater {
    background-position: -172px -204px;
    height: 28px;
    width: 28px;
}
.icon_hypermarket {
    background-position: -85px -233px;
    height: 28px;
    width: 28px;
}
.icon_grocery {
    background-position: -114px -233px;
    height: 28px;
    width: 28px;
}
.icon_supermarket {
    background-position: -143px -233px;
    height: 28px;
    width: 28px;
}
.icon_shopping-center {
    background-position: -172px -233px;
    height: 28px;
    width: 28px;
}
/* other */
.icon_pinrate {
    background-position: 0 0;
    height: 91px;
    width: 84px;
}
.icon_toggle {
    background-position: -42px -100px;
    height: 32px;
    width: 32px;
}
.icon_close-popup{
    background-position: -148px -261px;
    width: 13px;
    height: 13px;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    text-indent: 1000px;
    overflow: hidden;
}
.icon_close-popup:hover{
    background-position: -181px -261px;
}
.sidebar_visible .icon_toggle,
.result .icon_toggle {
    background-position: -9px -100px;
}
.result_visible .icon_toggle {
    background-position: -42px -100px;
}


/* application */
.application {
    height: 100%;
    left: 0;
    min-height: 600px;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
}


/* sidebar */
.sidebar,
.map,
.result,
.DGControlsCopyright {
    -webkit-transition: right 0.6s cubic-bezier(0.23, 1, 0.32, 1), left 0.6s cubic-bezier(0.23, 1, 0.32, 1), width 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: right 0.6s cubic-bezier(0.23, 1, 0.32, 1), left 0.6s cubic-bezier(0.23, 1, 0.32, 1), width 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: right 0.6s cubic-bezier(0.23, 1, 0.32, 1), left 0.6s cubic-bezier(0.23, 1, 0.32, 1), width 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: right 0.6s cubic-bezier(0.23, 1, 0.32, 1), left 0.6s cubic-bezier(0.23, 1, 0.32, 1), width 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition: right 0.6s cubic-bezier(0.23, 1, 0.32, 1), left 0.6s cubic-bezier(0.23, 1, 0.32, 1), width 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.sidebar {
    background: #363636 url(../i/sidebar_texture.png) 0 0 repeat;
    box-shadow: inset -2px 0 32px 10px #2f2f2f;
    height: 100%;
    left: -360px;   
    position: absolute;
    top: 0;
    width: 360px;
    z-index: 10;
}
.sidebar_select-panel_visible {
    width: 710px;
}
.sidebar_visible {
    left: 0;
}
    .sidebar__in {
        padding: 67px 82px 68px 48px;
    }
    .sidebar__toggle {
        cursor: pointer;
        height: 32px;
        position: absolute;
        right: -42px;
        top: 35px;
        width: 32px;
    }
    .sidebar__toggle:hover {
        opacity: 0.97;
    }


/* map */
.map {
    height: 100%;
    left: -360px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
    /* .map .DGControlsCopyright {
        right: 67px !important;
    } */

.map_position_b {
    left: 0;
}
    /* .map_position_b .DGControlsCopyright {
        right: 427px !important;
    } */

.map_position_c {
    left: 350px;
}
    /* .map_position_c .DGControlsCopyright {
        right: 777px !important;
    } */
.map_position_e {
    left: 700px;
}
.map_position_d {
    right: 350px;
}

/* result */


/* logo */
.logo_pinrate {
    margin: 0 0 22px 36px;
    text-align: center;
    width: 158px;
}
    .logo__icon {
        left: 13px;
        position: relative;
    }
    .logo__text {
        background: url(../i/app-sprite.png) -85px 0 no-repeat;
        display: block;
        height: 33px;
        margin: 13px 0 0;
        overflow: hidden;
        text-indent: -999px;
        width: 185px;
    }

/* slogan */
.slogan_pinrate {
    border-top: 1px solid #636363;
    color: #959595;
    cursor: default;
    display: block;
    font-size: 17px;
    left: 12px;
    letter-spacing: -1px;
    line-height: 1;
    margin: 0 0 48px;
    padding: 12px 0 0;
    position: relative;
    text-align: center;
    width: 232px;
}
.slogan_pinrate::selection {
    background-color: transparent;
}
.slogan_pinrate::-moz-selection {
    background-color: transparent;
}


/* select-panel */
.select-panel {
    color: #fafafa;
    font-size: 16px;
    /*height: 76%;*/
    left: 360px;
    max-height: 91%;
    overflow: hidden;
    padding: 70px 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.5s cubic-bezier(.17, .52, .04, 1);
    width: 0;
}
.sidebar_select-panel_visible .select-panel { /* Включение панельки списка результатов (городов) */
    width: 350px;
}
    .select-panel__in {
        border-left: 1px solid #494949;
        height: 100%
        left: 0;
        overflow: hidden;
        position: relative;
        width: 311px;
    }
        .select-panel__in .baron-wrapper {
            height: 100%;
            position: relative;
            overflow: hidden;
            width: 311px;
        }
            .select-panel__in .baron-wrapper .baron-scroller {
                height: 100%;
                overflow-y: scroll;
            }
                .select-panel__in .wrapper .baron-scroller .baron-container {
                    overflow: hidden;
                }
                .select-panel__in .baron-wrapper .baron-scroller .baron-scroller__bar {
                    background-color: #7d7d7d;
                    min-height: 50px;
                    position: absolute;
                    -webkit-transition: width .2s linear;
                    width: 5px;
                    z-index: 1;
                }

        .select-panel__list {
            /*display: none;*/
            padding: 0 14px 0 21px;
            width: 302px;
        }
            .select-panel__list_cityselect .list__item { /* Класс для тега li внутри списка select-panel__list select-panel__list_cityselect list */
                height: 32px;
                margin-bottom: 4px;
                white-space: nowrap;
            }
                .select-panel__list .link { /* Класс для тега-ссылки внутри li */
                    background-color: rgba(70, 70, 70, 0);
                    color: #fafafa;
                    display: block;
                    font-size: 14px;
                    line-height: 1.5;
                    padding: 9px 18px 7px;
                    text-decoration: none;
                }
                .select-panel__list .link:hover {
                    background-color: rgba(70, 70, 70, 1);
                }
                .select-panel__list .link_current {
                    color: #f26c4f;
                }

/* address */
.address {
    font-size: 0;
    padding-left: 12px;
    width: 232px;
}
    .address__item {
        background-color: #fff;
        height: 44px;
        margin: 0 0 16px;
        position: relative;
    }
    .address__item_city {
        background-color: transparent;
        margin-bottom: 11px;
        text-align: center;
    }
    .address__item_submit {
        background-color: transparent;
    }
        .address__item .link_cityselect {
            border-bottom: 1px solid #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            color: #fff;
            display: inline-block;
            font-family: 'pt_sansregular', 'Myriad Pro', arial, helvetica, sans-serif;
            font-size: 18px;
            height: 18px;
            line-height: 1;
            text-decoration: none;
        }
        .address__item .link_cityselect:hover {
            border-bottom-color: transparent;
        }
        .address__item .input_text {
            border: none;
            color: #7d7d7d;
            display: block;
            font-size: 16px;
            height: 14px;
            line-height: 16px;
            outline: none;
            padding: 17px 22px 13px;
            width: 188px;
        }
        .address__item_street .input_text {
            width: 163px;
        }
        .address__item_house .input_text {
            width: 49px;
        }
        .address__item .input_text:focus {
            color: #000;
        }
        .address__item .input_text::-webkit-input-placeholder {
            color: #7d7d7d;
        }
        .address__item .input_text:-moz-placeholder {
            color: #7d7d7d;
        }
        .address__item .input_text:-ms-input-placeholder  {
            color: #7d7d7d;
        }
        .address__item .input_text:focus::-webkit-input-placeholder {
            color: transparent;
        }

    .address__submit {
        background-color: #f26c4f;
        color: #fff;
        cursor: default;
        display: block;
        font-size: 15px;
        height: 44px;
        line-height: 46px;
        padding-right: 2px;
        text-align: center;
        text-decoration: none;
        -webkit-transition: background-color 0.1s ease-out;
    }
    .address__submit:hover {
        background-color: #e34e35;
    }
    .address__submit:active {
        background-color: #d23c23;
    }
    .address__nothing-found {
        margin-top: 44px;
        color: #fff;
        font-size: 16px;
        text-align: center;
    }

/* authors */
.authors {
    bottom: 21px;
    font-size: 0;
    left: 60px;
    position: absolute;
    text-align: center;
    width: 240px;
}
    .authors__author {
        font-size: 14px;
        padding: 2px 8px;
    }
        .authors__author .link {
            color: #959595;
            text-decoration: none;
        }


/* result */
.result {
    background: #363636 url(../i/sidebar_texture.png) 0 0 repeat;
    box-shadow: inset 2px 0 32px 10px #2f2f2f;
    cursor: default;
    height: 100%;
    margin-bottom: 10px;
    position: absolute;
    right: -360px;
    /*right: 0;*/
    top: 0;
    width: 360px;
    z-index: 5;
}
.result_visible {
    right: 0;
}
    .result__in {
        padding: 60px 40px 10px;
    }
        .result__toggle {
            cursor: pointer;
            display: none;
            height: 32px;
            left: -42px;
            position: absolute;
            top: 35px;
            width: 32px;
        }
        .result__toggle:hover {
            opacity: 0.97;
        }
        .result_active .result__toggle,
        .result_visible .result__toggle {
            display: block;
        }


/* rating */
.rating {
    font-size: 0;
    margin: 0 8px 14px 0;
    text-align: center;
}
    .rating__digits,
    .rating__percent {
        color: #464646;
        font-family: 'pt_sansbold', 'Myriad Pro', arial, helvetica, sans-serif;
        font-size: 68px;
        line-height: 1;
    }
    .rating__digits {
        margin: 0 1px 0 3px;
    }
    .rating__description {
        color: #636363;
        display: block;
        font-family: 'pt_sansbold', 'Myriad Pro', arial, helvetica, sans-serif;
        font-size: 23px;
        line-height: 28px;
        padding-top: 1px;
        padding-left: 8px;
        text-align: center;
    }


/* social */
.result__in .social_result {
    border-bottom: 1px solid #636363;
}
.ico_twitter-share {
    background-position: 0px -261px;
    height: 48px;
    width: 48px;
}
.ico_facebook-share {
    background-position: -49px -261px;
    height: 48px;
    width: 48px;
}
.ico_vk-share {
    background-position: -98px -261px;
    height: 48px;
    width: 48px;
}
.social {
    padding-left: 1px;
}
.social__item {
    display: inline-block;
    padding: 0 8px;
    vertical-align: top;
}
.social__item .link {
    border: 2px solid transparent;
    border-radius: 32px;
    display: block;
    padding: 4px;
    -webkit-transition: border-color 0.3s ease-out;
    -moz-transition: border-color 0.3s ease-out;
    -o-transition: border-color 0.3s ease-out;
    -ms-transition: border-color 0.3s ease-out;
    transition: border-color 0.3s ease-out;
}
.social__item .link_twitter:hover {
    border-color: #00aced;
}
.social__item .link_facebook:hover {
    border-color: #3b5998;
}
.social__item .link_vk:hover {
    border-color: #486b92;
}
.result .social{
    font-size: 0;
    margin-bottom: 35px;
    padding: 0 0 24px;
    text-align: center;
    width: 100%;
}

/* baron */
.baron-wrapper {
    overflow: hidden;
    position: relative;
}
.baron-scroller {
    height: 100%;
    overflow-y: scroll;
}
.baron-scroller::-webkit-scrollbar {
    width: 0;
}
.baron-scroller__bar {
    background: #999;
    position: absolute;
    right: 0;
    width: 10px;
    z-index: 1;
}
.baron-container {
    overflow: hidden;
}


/* rate */
.rate {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 24px;
    text-align: center;
}
    .rate__in {
        display: block;
        font-family: pt_sansbold;
        font-size: 60px;
        margin: 0 0 12px;
    }
    .rate__description {
        display: block;
    }
    .rate__address{
        font-size: 18px;
        color: #636363;
        display: block;
        margin-bottom: 12px;
        margin-top: -4px;
    }
    .rate_white{
        color: #636363;
    }
    .rate_white .rate__address{
        color: #b7b7b7;
    }


/* results */
.results-wrapper {
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 320px;
}
    .results-wrapper .baron-wrapper {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 310px;
    }
    .results-wrapper .baron__scroller {
        height: 100%
        overflow-y: scroll;
    }
    .results-wrapper .baron-scroller__bar {
        background-color: #7d7d7d;
        min-height: 50px;
        position: absolute;
        -webkit-transition: width .2s linear;
        width: 5px;
        z-index: 1;
    }

.results {
    color: #fff;
    font-size: 0;
    margin: 0 0 36px;
    width: 320px;
}
    .results__item {
        display: inline-block;
        font-size: 14px;
        height: 28px;
        line-height: 28px;
        margin: 0 0 8px;
        padding-right: 10px;
        width: 150px;
    }
        .results__item .icon {
            margin-right: 11px;
        }


/* Сброс стилей коллаута лифлета */
.leaflet-popup-content-wrapper {
    padding:0;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #e6e6e6;
}
.leaflet-popup-content {
    margin: 0;
}
.leaflet-popup-tip {
    display: none;
}
.leaflet-popup-tip-container {
    height: 0px;
}

.callout {
    position: relative;
    top: -15px;
    /*
    Коллаут можно двигать в пространстве
    top: 200px;
    left: 200px;
    */
    display: inline-block;
    max-width: 190px;
    padding: 20px 20px 0 20px;
    background: #333;
    font-family: 'PT Sans', 'Arial';
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}
.callout:after {
    content: '';
    display: inline-block;
    position: relative;
    bottom: -9px;
    width: 8px;
    height: 8px;
    background: inherit;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.callout__title {
    margin-bottom: 20px;
}

.callout__button {
    padding: 8px 30px 6px;
    background: #f26c4f;
    font-size: 14px;
    cursor: pointer;
}

.map__cluster {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    background: #e95130;
    transition: all 0.1s linear;
    color: #fff;
    margin-top: -20px;
    margin-left: -20px;
}
.icon_pinrate_map {
    width: 36px;
    height: 45px;
    background: url(../i/markers/pin.png) no-repeat;
}

.leaflet-div-icon {
    background: none;
    border: none;
}

.map_icon {
    width: 32px;
    height: 37px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}
#preloader{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
}
.pin-loader__center{
    background: #f26c4f;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    -webkit-animation: pulse 0.8s infinite;
    animation: pulse 0.8s infinite;
}
.pin-loader__ring{
    border: 5px solid #f26c4f;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: -25px 0 0 -25px;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    opacity: 0;
    -webkit-animation: ring 0.8s infinite;
    animation: ring 0.8s infinite;
}
.app_blured{
    -webkit-filter: blur(3px);
}
@-webkit-keyframes pulse {
    0% {
        opacity: 0.4;
    }
    10% {
        width: 56px;
        height: 56px;
        border-radius: 28px;
        margin: -28px 0 0 -28px;
    }
    30% {
        -webkit-transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.4;
    }
}

@-webkit-keyframes ring {
    20% {
        opacity: 0;
    }
    23%{
        opacity: 0.4;
    }
    24% {
        width: 62px;
        height: 62px;
        border-radius: 36px;
        margin: -36px 0 0 -36px;
    }
    100% {
        width: 90px;
        height: 90px;
        border-radius: 50px;
        margin: -50px 0 0 -50px;
        opacity: 0;

    }
}
@keyframes pulse {
    0% {
        opacity: 0.4;
    }
    10% {
        width: 56px;
        height: 56px;
        border-radius: 28px;
        margin: -28px 0 0 -28px;
    }
    30% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 0.4;
    }
}

@keyframes ring {
    0%{
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    23%{
        opacity: 0.4;
    }
    24% {
        width: 62px;
        height: 62px;
        border-radius: 36px;
        margin: -36px 0 0 -36px;
    }
    100% {
        width: 90px;
        height: 90px;
        border-radius: 50px;
        margin: -50px 0 0 -50px;
        opacity: 0;

    }
}
.popup{
    background: rgba(0,0,0,0.6);
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 9998;
    width: 100%;
    text-align: center;
    perspective: 2000px;
    -webkit-perspective: 2000px;
    display: none;
    font-size: 14px;
    line-height: 20px;
    color: #636363;
}
.popup:before{
    content: "";
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
}
.popup__content{
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.2s linear;
    -webkit-transform: rotateX(100deg) scale(0.6);
    opacity: 0;
    padding: 50px 50px 40px 50px;
    min-width: 372px;
}
.popup__content_open{
    -webkit-transform: rotateX(0deg) scale(1);
    opacity: 1;
}
.popup__content_close{
    -webkit-animation: close 10s 1;
}
.popup__about{
    width: 612px;
    color: #636363;
    padding-bottom: 10px;
}
    .popup__about h2{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 16px;
    }
    .popup__about-text{
        margin-bottom: 40px;
    }
    .popup__about a{
        white-space: nowrap;
        border-bottom: 1px solid #f8b5a7;
        text-decoration: none;
        line-height: 1em;
        display: inline-block;
        color: #636363;
    }
    .popup__about a:hover{
        color: #f26c4f;
    }
@-webkit-keyframes close {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    2% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }
    4%{
        opacity: 0;
        -webkit-transform: scale(0.2);
    }
    100%{
        opacity: 0;
        -webkit-transform: scale(0.2);
    }
}
/* authors */
.authors__list{
    display: inline-block;
    width: 100%;
}
    .authors__list dt,
    .authors__list dd{
        box-sizing: border-box;
    }
    .authors__list dt{
        float: left;
        width: 50%;
        padding-right: 15px;
        text-align: right;
    }
    .authors__list dd{
        float: right;
        width: 50%;
        padding-left: 15px;
        text-align: left;
    }